// Colors

$blue: hsl(246, 80%, 60%);
$orange-red: hsl(15, 100%, 70%);
$soft-blue: hsl(195, 74%, 62%);
$light-red: hsl(348, 100%, 68%);
$lime-green: hsl(145, 58%, 55%);
$violet: hsl(264, 64%, 52%);
$soft-orange: hsl(43, 84%, 65%);

$very-dark-blue: hsl(226, 43%, 10%);
$dark-blue: hsl(235, 46%, 20%);
$desaturated-blue: hsl(235, 45%, 61%);
$pale-blue: hsl(236, 100%, 87%);

$white: hsl(0, 0%, 100%);

// Font Weights

$fw-small: 300;
$fw-medium: 400;
$fw-semi-bold: 500;

html {
	font-size: 62.5%;
}

body {
	font-family: "Rubik", sans-serif;
	font-size: 18px;
	background-color: $very-dark-blue;
	color: $white;
	font-weight: $fw-medium;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.container {
	width: min(110rem, 88%);
	margin-top: 4.8rem;
	margin-bottom: 4.8rem;
}

.user-panel {
	.user-info {
		background-color: $blue;
		padding: 3.2rem;
		border-radius: 12px;
		display: flex;
		align-items: center;
		gap: clamp(1.6rem, 1.4rem + 1.4vw, 4rem);
		position: relative;
		z-index: 1;

		.user-img {
			width: 7rem;
			border: 3px solid $white;
			border-radius: 50%;
		}

		.user-text-content {
			display: flex;
			flex-direction: column;
			gap: 0.4rem;

			.report-for-text {
				font-size: 1.6rem;
				color: $pale-blue;
			}

			.user-name {
				font-size: clamp(2.4rem, 1.5rem + 1.5vw, 3.6rem);
				font-weight: $fw-small;
				color: $white;
			}
		}
	}

	.timeframes {
		background-color: $dark-blue;
		padding: 2.8rem 2rem 2rem;
		margin-top: -0.8rem;
		border-radius: 0 0 12px 12px;
		display: flex;
		justify-content: space-between;
		color: $desaturated-blue;

		button[data-timeframe] {
			transition: color 200ms ease-in;
			padding: 0.4rem;

			&:hover,
			&.active {
				color: $white;
			}

			&:focus-visible {
				color: $white;
				outline: 2px solid $white;
				border-radius: 8px;
			}
		}
	}
}

.tracking-results {
	margin-top: 3.2rem;
	display: flex;
	flex-direction: column;
	gap: 3.2rem;

	.result-item {
		cursor: pointer;

		&:focus-visible {
			outline: 2px solid $white;
			border-radius: 16px;
		}

		.result-background {
			padding: 2.2rem;
			position: relative;
			z-index: -1;
			border-radius: 16px 16px 0 0;
			margin-bottom: -0.8rem;
			overflow: hidden;

			&.work {
				background-color: $orange-red;
			}

			&.play {
				background-color: $soft-blue;
			}

			&.study {
				background-color: $light-red;
			}

			&.exercise {
				background-color: $lime-green;

				.result-icon {
					top: 0;
				}
			}

			&.social {
				background-color: $violet;

				.result-icon {
					top: -18px;
				}
			}

			&.self-care {
				background-color: $soft-orange;

				.result-icon {
					top: -18px;
				}
			}

			.result-icon {
				position: absolute;
				top: -1rem;
				right: 1.6rem;
				width: 7.6rem;
			}
		}

		.result-values {
			background-color: $dark-blue;
			border-radius: 12px;
			padding: 2.8rem 2.4rem;
			display: flex;
			flex-direction: column;
			gap: clamp(1.2rem, 0.8rem + 0.8vw, 2rem);
			transition: background-color 200ms ease-in;

			&:hover:not(:has(.more-options-button:hover)) {
				background-color: $blue;
			}

			.result-values-head {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.more-options-button {
					padding: 0.4rem;

					&:focus-visible {
						color: $white;
						outline: 2px solid $white;
						border-radius: 8px;
					}
				}
			}

			.result-values-body {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.result-current {
					font-size: clamp(3.2rem, 2rem + 2vw, 4.8rem);
					font-weight: $fw-small;
				}

				.result-previous {
					font-size: 1.5rem;
					color: $pale-blue;
				}
			}
		}
	}
}

@media (width > 576px) {
	.user-panel {
		.timeframes {
			gap: 2rem;
			justify-content: center;
			padding: 2.8rem 3.2rem 2rem;

			button[data-timeframe] {
				font-size: 2rem;
			}
		}
	}

	.tracking-results {
		flex-wrap: wrap;
		flex: 1;
		flex-direction: row;
		justify-content: center;
		margin-top: 4rem;

		.result-item {
			width: 24rem;

			.result-background {
				padding: 2.6rem;
			}

			.result-values {
				.result-values-head {
					.result-values-title {
						font-size: 2rem;
					}
				}

				.result-values-body {
					display: flex;
					justify-content: unset;
					align-items: flex-start;
					flex-direction: column;
					gap: 0.8rem;
				}
			}
		}
	}
}

@media (width > 992px) {
	.container {
		display: flex;
		gap: 3.6rem;
	}

	.user-panel {
		max-width: 25rem;

		.user-info {
			flex-direction: column;
			align-items: flex-start;
			padding: 3.2rem 3.2rem 7.2rem;

			.user-img {
				width: 8rem;
			}
		}

		.timeframes {
			flex-direction: column;
			align-items: flex-start;
			gap: 1.2rem;
			justify-content: unset;
			padding: 2.8rem 3.2rem 2rem;
		}
	}

	.tracking-results {
		margin-top: unset;

		.result-item {
			width: 25rem;
		}
	}
}
