// Colors

$blue: hsl(246, 80%, 60%);
$orange-red: hsl(15, 100%, 70%);
$soft-blue: hsl(195, 74%, 62%);
$light-red: hsl(348, 100%, 68%);
$lime-green: hsl(145, 58%, 55%);
$violet: hsl(264, 64%, 52%);
$soft-orange: hsl(43, 84%, 65%);

$very-dark-blue: hsl(226, 43%, 10%);
$dark-blue: hsl(235, 46%, 20%);
$desaturated-blue: hsl(235, 45%, 61%);
$pale-blue: hsl(236, 100%, 87%);

$white: hsl(0, 0%, 100%);

// Font Weights

$fw-small: 300;
$fw-medium: 400;
$fw-semi-bold: 500;

body {
	font-family: "Rubik", sans-serif;
	font-size: 18px;
	background-color: $very-dark-blue;
	color: $white;
	font-weight: $fw-medium;
}

.container {
	max-width: 1100px;
	width: 88%;
	margin: 48px auto;
}

.user-panel {
	.user-info {
		background-color: $blue;
		padding: 32px;
		border-radius: 12px;
		display: flex;
		align-items: center;
		gap: 16px;
		position: relative;

		.user-img {
			width: 70px;
			border: 3px solid $white;
			border-radius: 50%;
		}

		.user-text-content {
			display: flex;
			flex-direction: column;
			gap: 4px;

			p:first-child {
				font-size: 16px;
				color: $pale-blue;
			}

			.user-name {
				font-size: 24px;
				font-weight: $fw-small;
			}
		}
	}

	.timeframes {
		background-color: $dark-blue;
		padding: 28px 0 20px;
		margin-top: -8px;
		border-radius: 0 0 12px 12px;
		display: flex;
		justify-content: space-around;
		color: $desaturated-blue;

		button {
			transition: color 200ms ease-in;

			&:hover,
			&.active {
				color: $white;
			}
		}
	}
}

.tracking-results {
	margin-top: 32px;
	display: flex;
	flex-direction: column;
	gap: 32px;

	.result-item {
		cursor: pointer;

		.result-background {
			padding: 22px;
			position: relative;
			z-index: -1;
			border-radius: 16px 16px 0 0;
			margin-bottom: -8px;
			overflow: hidden;

			&.work {
				background-color: $orange-red;
			}

			&.play {
				background-color: $soft-blue;
			}

			&.study {
				background-color: $light-red;
			}

			&.exercise {
				background-color: $lime-green;

				.result-icon {
					top: 0;
				}
			}

			&.social {
				background-color: $violet;

				.result-icon {
					top: -18px;
				}
			}

			&.self-care {
				background-color: $soft-orange;

				.result-icon {
					top: -18px;
				}
			}

			.result-icon {
				position: absolute;
				top: -10px;
				right: 16px;
				width: 76px;
			}
		}

		.result-values {
			background-color: $dark-blue;
			border-radius: 12px;
			padding: 28px 24px;
			display: flex;
			flex-direction: column;
			gap: 12px;
			transition: background-color 200ms ease-in;

			&:hover {
				background-color: $blue;
			}

			.result-values-head {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			.result-values-body {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.result-current {
					font-size: 32px;
					font-weight: $fw-small;
				}

				.result-previous {
					font-size: 15px;
					color: $pale-blue;
				}
			}
		}
	}
}

@media (width > 376px) {
	body {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
	}

	.container {
		display: flex;
		gap: 36px;
	}

	.user-panel {
		width: 250px;

		.user-info {
			flex-direction: column;
			align-items: flex-start;
			gap: 40px;
			padding: 32px 32px 72px;

			.user-img {
				width: 80px;
			}

			.user-text-content {
				p:first-child {
					font-size: 18px;
				}

				.user-name {
					font-size: 36px;
				}
			}
		}

		.timeframes {
			flex-direction: column;
			align-items: flex-start;
			gap: 16px;
			justify-content: unset;
			padding: 28px 32px;

			button {
				font-size: 20px;
			}
		}
	}

	.tracking-results {
		margin-top: unset;
		flex-wrap: wrap;
		flex: 1;
		flex-direction: row;

		.result-item {
			width: 250px;

			.result-background {
				padding: 26px;
			}

			.result-values {
				gap: 20px;

				.result-values-head {
					.result-values-title {
						font-size: 20px;
					}
				}

				.result-values-body {
					display: flex;
					justify-content: unset;
					align-items: unset;
					flex-direction: column;
					gap: 8px;

					.result-current {
						font-size: 48px;
					}
					.result-previous {
						font-size: 16px;
					}
				}
			}
		}
	}
}
