*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	outline: none;
}

a,
a:link,
a:visited {
	text-decoration: none;
	color: inherit;
}

ul,
li {
	list-style: none;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

label {
	cursor: pointer;
}

input,
button,
textarea,
select {
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}
